:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.header {
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  text-align: center;
  margin-bottom: 0;
  width: 147px;
}

.slide-4 {
  background-image: none;
  background-position: 50% 100%;
  background-size: cover;
}

.image-45 {
  padding-left: 0;
  position: relative;
  top: 0;
  left: 130px;
}

.medios-pago {
  z-index: 2;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 160px;
  display: none;
  position: fixed;
  top: 280.891px;
}

.column-5 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.heading {
  color: #424242;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  margin-top: 0;
  margin-bottom: 40px;
  padding-bottom: 5px;
  font-family: PT Serif, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.slide-2 {
  background-image: none;
  background-position: 50% 0;
  background-size: cover;
}

.formulario {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), none;
  background-position: 0 0, 0%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  height: 100vh;
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 100px;
}

.text-block-2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 100px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.form {
  text-align: center;
  font-family: PT Serif, serif;
}

.presupuesto-3 {
  background-color: #c4d557;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 120px;
  display: none;
}

.select-field {
  color: #000;
  font-family: Alef, sans-serif;
}

.textarea {
  font-family: Montserrat, sans-serif;
}

.textarea.consulta {
  height: 80px;
  font-family: Alef, sans-serif;
}

.slide-3 {
  background-image: none;
  background-position: 50%;
  background-size: cover;
}

.text-block-5 {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.text-block-5.medios-pago {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.text-block-5.presupuesto {
  color: #fff;
  padding-left: 15px;
  position: fixed;
}

.heading-2 {
  color: #fff;
  text-align: center;
  font-family: Abel, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.slide-5 {
  background-image: none;
  background-position: 50% 0;
  background-size: cover;
}

.submit-button {
  background-color: #617442;
  border-radius: 6px;
  margin-top: 10px;
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  transition: all .3s;
}

.submit-button:hover {
  background-color: #000;
}

.error-message {
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-block {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 10px;
}

.link-4 {
  color: #fff;
  text-decoration: none;
}

.banner-slider {
  z-index: -1;
  width: auto;
  min-height: 105vh;
  margin-top: 110px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-44 {
  margin-bottom: 10px;
  padding-top: 49px;
}

.heading-3 {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(rgba(98, 116, 68, .8), rgba(98, 116, 68, .8));
  border-radius: 6px;
  padding: 5px;
  font-family: PT Serif, serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.slide-1 {
  background-image: none;
  background-position: 50% 0;
  background-size: cover;
}

.text-field {
  font-family: Alef, sans-serif;
}

.column-22 {
  margin-bottom: 10px;
}

.text-block {
  color: #617442;
  text-align: center;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Abel, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.text-block.title {
  color: #617442;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  font-family: PT Serif, serif;
  font-size: 16px;
  font-weight: 700;
}

.columns-11, .column-21 {
  text-align: center;
  margin-bottom: 10px;
}

.text-block-28 {
  color: #000;
  text-align: center;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: PT Serif, serif;
  font-size: 16px;
  font-weight: 500;
}

.highlight {
  background-color: #e7e7e7;
  padding-top: 40px;
  padding-bottom: 40px;
}

.highlight.diferenciales {
  color: rgba(0, 0, 0, 0);
  text-align: center;
  background-color: #fff;
  border: 1px #000;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image {
  filter: invert(50%);
  max-width: 90%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10px;
  transition: all .3s;
  display: inline-block;
}

.image:hover {
  filter: invert(0%);
}

.column-20 {
  margin-bottom: 10px;
}

.image-63 {
  max-width: 90%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10px;
  display: inline-block;
}

.link-block, .link-block-2 {
  text-decoration: none;
}

.section {
  text-align: center;
  background-color: #fff;
  padding: 60px 40px 70px;
}

.heading-4 {
  color: #fff;
  text-align: center;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.heading-4.center {
  text-align: center;
  margin-bottom: 40px;
}

.paragraph {
  text-align: justify;
  font-family: PT Serif, serif;
  font-size: 18px;
  line-height: 22px;
}

.slider {
  background-color: rgba(255, 255, 255, 0);
}

.slide-6, .slide-7, .slide-8, .slide-9 {
  background-image: none;
  background-position: 50%;
  background-size: cover;
}

.icon {
  opacity: .5;
  color: #fff;
  transition: all .3s;
}

.icon:hover {
  opacity: 1;
}

.section-2 {
  text-align: center;
  background-color: #fff;
  padding: 40px 10px 60px;
  font-family: PT Serif, serif;
}

.div-block {
  text-align: center;
  width: 19%;
  font-family: PT Serif, serif;
}

.text-block-29 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.container {
  display: block;
}

.column-24 {
  text-align: center;
}

.columns-12 {
  text-align: center;
  margin-bottom: 40px;
}

.section-3 {
  background-color: #fcfcfc;
  padding: 20px 10px 40px;
}

.column-25 {
  text-align: center;
}

.columns-13 {
  align-items: center;
  display: flex;
}

.section-4 {
  padding: 20px 10px 40px;
}

.text-block-30 {
  margin-bottom: 10px;
  font-family: PT Serif, serif;
  font-size: 18px;
  line-height: 24px;
}

.section-5 {
  text-align: center;
  background-color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: PT Serif, serif;
}

.image-64 {
  filter: grayscale();
}

.columns-14 {
  align-items: center;
  display: flex;
}

.image-65 {
  min-width: 40px;
}

.div-block-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: left;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.div-block-2.left {
  justify-content: flex-start;
}

.div-block-2.right {
  justify-content: flex-end;
}

.button {
  color: #000;
  background-color: rgba(97, 116, 66, 0);
  border: 3px solid #000;
  border-radius: 7px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: PT Serif, serif;
  font-weight: 400;
  transition: all .3s;
}

.button:hover {
  color: #617442;
  background-color: #fff;
  border-color: #617442;
}

.button.w--current {
  border-radius: 9px;
  font-family: PT Serif, serif;
}

.column-28 {
  text-align: center;
}

.bold-text {
  font-size: 16px;
}

.slide-10, .slide-11, .slide-12, .slide-13 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
}

.slide-14 {
  background-image: none;
  background-position: 50%;
  background-size: cover;
}

.column-29 {
  text-align: left;
}

.column-30 {
  text-align: right;
}

.container-2 {
  text-align: center;
  flex: 1;
  max-width: 1100px;
}

.div-block-3 {
  background-color: #86b499;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  height: 200px;
  display: flex;
}

.button-2 {
  color: #617442;
  background-color: #fff;
  border-radius: 5px;
  width: auto;
  margin-bottom: 10px;
  font-family: PT Serif, serif;
  font-size: 28px;
  font-weight: 700;
  transition: all .3s;
}

.button-2:hover {
  color: #fff;
  background-color: #617442;
}

.column-31 {
  flex-direction: column;
  align-items: stretch;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.columns-15 {
  align-items: center;
  display: flex;
}

.columns-16 {
  margin-bottom: 40px;
}

.column-32 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block-3 {
  background-image: none;
  background-position: 50%;
  background-size: cover;
  margin-right: 20px;
}

.text-block-31 {
  font-family: PT Serif, serif;
  font-size: 20px;
  font-weight: 700;
  position: static;
}

.text-block-32 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 100px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.div-block-4 {
  background-color: #f1f1f1;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.image-66 {
  margin-right: 20px;
}

.image-67 {
  border: 5px solid #627443;
  border-radius: 9px;
}

.image-68 {
  background-image: url('../images/02.webp');
  background-position: 50%;
  background-size: cover;
  border: 5px solid #627443;
  border-radius: 9px;
}

.image-69 {
  position: relative;
  top: 32px;
  left: -46px;
}

.div-block-5 {
  text-align: center;
}

.column-33 {
  text-align: left;
}

.link-block-4 {
  background-image: url('../images/03.webp');
  background-position: 50%;
  background-size: cover;
  border: 4px solid #627443;
  border-radius: 10px;
  width: 500px;
  height: 300px;
}

.link-block-5 {
  background-image: url('../images/02.webp');
  background-position: 50%;
  background-size: cover;
  border: 4px solid #627443;
  border-radius: 10px;
  width: 500px;
  height: 250px;
}

.link-block-6 {
  background-image: url('../images/01.webp');
  background-position: 50%;
  background-size: cover;
  border: 4px solid #627443;
  border-radius: 10px;
  width: 500px;
  height: 300px;
}

.link-block-7 {
  background-image: url('../images/04.webp');
  background-position: 50%;
  background-size: cover;
  border: 4px solid #627443;
  border-radius: 10px;
  width: 500px;
  height: 300px;
}

.section-6 {
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  padding-top: 0;
  display: block;
}

.link-block-8 {
  background-image: none;
  background-position: 50%;
  background-size: cover;
}

.section-7 {
  text-align: center;
  background-color: #628396;
  padding: 10px 10px 0;
}

.section-8 {
  background-color: #202123;
  padding: 63px 10px 95px;
}

.heading-5 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #617442;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: PT Serif, serif;
  font-size: 36px;
  line-height: 50px;
}

.text-block-33 {
  color: var(--white);
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
}

.text-block-34 {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.link-block-9 {
  background-color: #fff;
  border-radius: 1000px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px 5px 0;
  text-decoration: none;
  display: block;
}

.image-70 {
  max-width: 50%;
}

.text-block-35 {
  color: #077478;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}

.columns-17 {
  align-items: center;
  display: flex;
}

.section-9 {
  text-align: center;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.div-block-6 {
  text-align: center;
}

.column-35 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-36 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-37 {
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-71 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

.image-71.avion {
  padding-top: 12px;
}

.link-block-10 {
  text-align: center;
  background-color: #a0904f;
  border-radius: 1000px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}

.columns-18 {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
}

.container-3 {
  justify-content: space-between;
  align-items: center;
  display: block;
}

.text-block-36 {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.div-block-7 {
  text-align: center;
  background-color: #fff;
  width: 18%;
  padding: 10px;
}

.image-72 {
  max-width: 100%;
  margin-bottom: 10px;
}

.text-block-37 {
  text-align: center;
  margin-bottom: 10px;
  font-family: PT Serif, serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.link-5 {
  color: #289eab;
  font-family: PT Serif, serif;
  font-size: 16px;
  font-weight: 600;
  transition: all .3s;
}

.link-5:hover {
  color: #186b74;
}

.div-block-8 {
  color: #289eab;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  border: 3px solid #289eab;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 10px;
}

.div-block-8._3 {
  background-image: url('../images/04.webp');
}

.div-block-8._2 {
  background-image: url('../images/03.webp');
}

.div-block-8._1 {
  background-image: url('../images/sala-velatoria.webp');
}

.div-block-8._4 {
  background-image: url('../images/01.webp');
}

.div-block-8._5 {
  background-image: url('../images/02.webp');
}

.div-block-8._6 {
  background-image: url('../images/jumbo-jet-volando-cielo.webp');
  background-size: cover;
}

.section-10 {
  background-color: #628396;
  padding: 60px 10px 86px;
}

.heading-6 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
}

.heading-6.white {
  color: #fff;
  margin-bottom: 25px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.text-block-38 {
  color: #289eab;
  text-align: center;
  font-family: PT Serif, serif;
  font-size: 18px;
}

.text-block-38.mobile {
  margin-bottom: 10px;
  display: none;
}

.banner-slider-2 {
  z-index: -1;
  background-color: rgba(221, 221, 221, 0);
  width: auto;
  min-height: 80vh;
  margin-top: 102px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.slide-15 {
  background-image: url('../images/Copia-de-1-2.webp');
  background-position: 50%;
  background-size: cover;
}

.slide-15.a {
  background-image: url('../images/Copia-de-1-2.webp');
}

.slide-16 {
  background-image: url('../images/Copia-de-6.webp');
  background-position: 50%;
  background-size: cover;
}

.slide-17 {
  background-image: url('../images/BANNER-2.webp');
  background-position: 50%;
  background-size: cover;
}

.slide-17.c {
  background-image: url('../images/Copia-de-44.webp');
}

.slide-18 {
  background-image: url('../images/BANNER-3.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
}

.slide-18.d {
  background-image: url('../images/manos-funeraria.webp');
}

.column-38 {
  padding-left: 0;
  padding-right: 0;
}

.section-11 {
  background-color: #628396;
  padding-top: 100px;
  padding-bottom: 80px;
}

.text-field-2 {
  color: #fff;
  overflow-wrap: normal;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #a0904e;
  font-family: Montserrat, sans-serif;
}

.text-field-2.white {
  color: #fff;
  word-break: normal;
  overflow-wrap: normal;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border-color: #fff;
}

.text-field-3 {
  color: #fff;
  -webkit-text-stroke-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  font-family: Montserrat, sans-serif;
}

.textarea-2 {
  opacity: 1;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  font-family: Montserrat, sans-serif;
}

.form-2 {
  color: #fff;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.submit-button-2 {
  background-color: #628396;
  border: 1px solid #fff;
  border-radius: 1000px;
  margin-top: 12px;
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.text-block-39 {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.error-message-2 {
  background-color: rgba(255, 255, 255, 0);
  padding-top: 10px;
  position: static;
  top: 1%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section-12 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .59), rgba(0, 0, 0, .59)), url('../images/BANNER-3.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  padding: 60px 10px 80px;
}

.button-3 {
  text-transform: uppercase;
  background-color: rgba(40, 158, 171, 0);
  border: 1px solid #fff;
  border-radius: 1000px;
  padding: 15px 20px;
  font-family: Varela Round, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-3:hover {
  background-color: rgba(40, 158, 171, 0);
}

.heading-7 {
  color: #000;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.heading-7.planes {
  color: #628396;
}

.text-block-40 {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.text-block-41 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.slider-2 {
  background-color: rgba(206, 142, 142, 0);
}

.slide-nav {
  display: none;
}

.slide-19 {
  padding-top: 137px;
}

.slide-20 {
  padding-top: 127px;
}

.section-13 {
  background-image: radial-gradient(circle, #fff, #b29240);
  height: 2px;
}

.column-39 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/sala-velatoria.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 250px;
  padding-top: 90px;
  padding-left: 5px;
  padding-right: 5px;
}

.column-39.asesoria {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/02.webp');
  padding-top: 100px;
}

.column-40 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/03.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 250px;
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.column-40.repatria {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/jumbo-jet-volando-cielo.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.column-41 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/04.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 250px;
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.column-41.salas {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/salas-velatorias.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.column-42 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/01.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 250px;
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.column-42.responso {
  background-image: linear-gradient(rgba(0, 0, 0, .29), rgba(0, 0, 0, .29)), url('../images/Servicio-de-responso.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.column-43 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/02.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 250px;
  padding-top: 100px;
}

.column-44 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/jumbo-jet-volando-cielo.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 250px;
  padding-top: 90px;
}

.select-field-2 {
  color: #c5c5c5;
  background-color: rgba(243, 243, 243, 0);
  border: 1px solid #fff;
  font-family: Montserrat, sans-serif;
}

.div-block-9 {
  text-align: center;
  background-color: #628396;
  border-radius: 1000px;
  width: 120px;
  height: 120px;
  margin-bottom: 12px;
  padding-top: 30px;
}

.column-45 {
  padding-left: 5px;
  padding-right: 5px;
}

.div-block-26 {
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 400px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all .3s;
  display: flex;
}

.div-block-26._03 {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/repatriacion.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  padding-top: 150px;
  display: block;
}

.div-block-26._03.crmeacion {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Servicio-Anticipiado.--3.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-26._01 {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/urgencias.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  padding-top: 150px;
  display: block;
}

.div-block-26._04 {
  background-color: lightblue;
  background-position: 0 0, 30%;
  background-size: auto, cover;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.div-block-26._02 {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/preexequiales.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  padding-top: 150px;
  display: block;
}

.column-17 {
  padding-left: 0;
  padding-right: 0;
}

.columns-20 {
  margin-top: 0;
  margin-bottom: 0;
}

.text-block-42 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  position: static;
}

.text-block-42.destacado1 {
  opacity: 0;
  color: #fff;
  background-color: rgba(158, 158, 158, 0);
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 255px 20px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  transition: all .3s;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-block-42.destacado1:hover {
  opacity: 1;
  border-radius: 6px;
}

.heading-28 {
  color: #fff;
  text-align: center;
  text-transform: none;
  margin-top: 0;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.column-46 {
  padding-left: 5px;
  padding-right: 5px;
}

.div-block-27 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 400px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all .3s;
  display: flex;
}

.div-block-27._03 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Salkantay.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 500px;
  display: block;
}

.div-block-27._03.especial {
  background-image: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url('../images/IMG_0193.webp');
  background-position: 0 0, 30%;
  height: 500px;
}

.div-block-27._03.prime {
  background-image: linear-gradient(rgba(0, 0, 0, .54), rgba(0, 0, 0, .54)), url('../images/IMG_0204.webp');
}

.div-block-27._01 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/1-plan-estandar.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 300px;
  padding-top: 100px;
  display: block;
}

.div-block-27._01:hover {
  background-image: linear-gradient(#000, #000), url('../images/machu-picchu.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-27._01._2 {
  background-image: linear-gradient(to bottom, null, null), url('../images/2-plan-tradicional.webp');
}

.div-block-27._01._3 {
  background-image: linear-gradient(to bottom, null, null), url('../images/3-plan-especial.webp');
}

.div-block-27._04 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/caminatas.webp');
  background-position: 0 0, 30%;
  background-size: auto, cover;
}

.div-block-27._02 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Inca-Trail.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 500px;
  display: block;
}

.div-block-27._02.estandar {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/IMG_0164.webp');
  height: 500px;
}

.div-block-27._02.tradicional {
  background-image: linear-gradient(rgba(0, 0, 0, .54), rgba(0, 0, 0, .54)), url('../images/IMG_0190.webp');
  background-position: 0 0, 30%;
  height: 500px;
}

.div-block-27._02.superior {
  background-image: linear-gradient(rgba(0, 0, 0, .54), rgba(0, 0, 0, .54)), url('../images/IMG_0174.webp');
}

.div-block-27._01 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/machu-picchu.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 400px;
}

.column-47 {
  padding-left: 5px;
  padding-right: 5px;
}

.columns-21 {
  margin-top: 20px;
  margin-bottom: 0;
}

.text-block-43 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  position: static;
}

.text-block-43.destacado1 {
  opacity: 0;
  color: #fff;
  background-color: #9e9e9e;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 0 10px 5px;
  font-size: 14px;
  line-height: 20px;
  transition: all .3s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-block-43.destacado1:hover {
  opacity: 1;
  border-radius: 6px;
}

.heading-29 {
  color: #fff;
  text-align: center;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  display: block;
}

.div-block-28 {
  width: 17%;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.div-block-29 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/1-plan-estandar.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border: 1px solid #a0904e;
  width: 100%;
  height: 250px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.div-block-29:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url('../images/1-plan-estandar.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-29._2 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/2-plan-tradicional.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-29._2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .88), rgba(0, 0, 0, .88)), url('../images/2-plan-tradicional.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-29._3 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/3-plan-especial.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-29._3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .88), rgba(0, 0, 0, .88)), url('../images/3-plan-especial.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-29._4 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/4-plan-superior.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-29._4:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .88), rgba(0, 0, 0, .88)), url('../images/4-plan-superior.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-29._5 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/5-plan-prime.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-29._5:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .88), rgba(0, 0, 0, .88)), url('../images/5-plan-prime.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.heading-30 {
  color: #fff;
  margin-top: 203px;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
}

.link-block-11, .link-block-12, .link-block-13 {
  width: 17%;
  height: 250px;
  margin-left: 5px;
  margin-right: 5px;
}

.div-block-30 {
  width: 17%;
  height: 250px;
  display: inline-block;
}

.link-block-14, .link-block-15 {
  width: 17%;
  height: 250px;
  margin-left: 5px;
  margin-right: 5px;
}

.link-block-16 {
  width: 100%;
  height: 250px;
  display: block;
}

.text-field-4, .textarea-3 {
  color: #fff;
}

.column-48, .column-49 {
  padding-left: 0;
  padding-right: 0;
}

.column-50 {
  padding-left: 5px;
  padding-right: 5px;
}

.text-block-44 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  position: static;
}

.text-block-44.destacado1 {
  opacity: 0;
  color: #fff;
  text-align: left;
  background-color: #628396;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
  transition: all .3s;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-block-44.destacado1:hover {
  opacity: 1;
  border-radius: 6px;
}

.heading-31 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 3px 1px #000;
  font-size: 18px;
  line-height: 24px;
}

.image-73 {
  margin-bottom: 20px;
}

.div-block-34 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/01.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 68px;
}

.text-block-45 {
  color: #fff;
  text-align: center;
  flex-flow: row;
  flex: 1;
  margin-top: 0;
  padding: 0 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  display: inline-flex;
}

.div-block-40 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Servicio-Anticipiado.--3.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 200px;
  padding-top: 80px;
}

.div-block-32 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/03.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  padding-top: 60px;
}

.div-block-33 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/04.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 200px;
  padding-top: 68px;
}

.div-block-37 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/salas-velatorias.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 200px;
  padding-top: 80px;
}

.div-block-35 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/02.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 200px;
  padding-top: 60px;
}

.text-block-46 {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: x-large;
  margin-bottom: 25px;
}

.div-block-38 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Servicio-de-responso.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 200px;
  padding-top: 68px;
}

.div-block-31 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/sala-velatoria.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 200px;
  padding-top: 61px;
}

.div-block-36 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/jumbo-jet-volando-cielo.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 200px;
  padding-top: 68px;
}

.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.div-block-41 {
  text-align: center;
}

.column-51 {
  padding-left: 0;
  padding-right: 0;
}

.container-4 {
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .submit-button:hover {
    border-radius: 6px;
  }

  .image:hover {
    filter: invert(0%);
  }
}

@media screen and (max-width: 991px) {
  .image-45, .medios-pago, .text-block-5.presupuesto {
    display: none;
  }

  .banner-slider {
    height: 680px;
  }

  .column-22, .column-23 {
    margin-bottom: 10px;
  }

  .highlight.diferenciales {
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-63 {
    padding-bottom: 10px;
  }

  .columns-14 {
    flex-direction: column;
  }

  .column-27 {
    margin-bottom: 20px;
  }

  .columns-15 {
    flex-direction: row;
    justify-content: center;
    display: flex;
  }

  .div-block-7 {
    width: 19%;
  }

  .text-block-37 {
    font-size: 16px;
  }

  .banner-slider-2 {
    height: 680px;
  }

  .div-block-26 {
    height: 300px;
  }

  .column-17 {
    margin-bottom: 10px;
  }

  .text-block-42.destacado1 {
    font-size: 12px;
  }

  .div-block-27 {
    height: 300px;
  }

  .column-47 {
    margin-bottom: 10px;
  }

  .text-block-43.destacado1 {
    font-size: 12px;
  }

  .column-50 {
    margin-bottom: 10px;
  }

  .text-block-44.destacado1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .image-45 {
    display: none;
  }

  .columns {
    padding-left: 10px;
    padding-right: 10px;
  }

  .column-5 {
    margin-bottom: 20px;
  }

  .heading {
    font-size: 30px;
    line-height: 34px;
  }

  .formulario {
    height: auto;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .heading-2 {
    font-size: 20px;
    line-height: 30px;
  }

  .banner-slider {
    height: 165vh;
  }

  .heading-3 {
    font-size: 16px;
    line-height: 20px;
  }

  .column-22 {
    margin-bottom: 10px;
  }

  .columns-11 {
    display: flex;
  }

  .column-21, .column-23, .column-20 {
    margin-bottom: 20px;
  }

  .text-block-29, .text-block-30, .column-26, .column-34, .text-block-33, .text-block-34 {
    text-align: center;
  }

  .image-70 {
    max-width: 80%;
  }

  .text-block-35 {
    font-size: 20px;
  }

  .div-block-8 {
    height: 300px;
  }

  .div-block-8._1 {
    height: 200px;
  }

  .text-block-38 {
    display: none;
  }

  .text-block-38.mobile {
    display: block;
  }

  .banner-slider-2 {
    height: 165vh;
  }

  .text-block-45 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    text-align: center;
    font-size: 30px;
    line-height: 34px;
  }

  .formulario {
    padding-top: 40px;
  }

  .text-block-5.presupuesto {
    display: none;
  }

  .heading-2 {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }

  .banner-slider {
    height: 1000px;
  }

  .heading-3 {
    text-align: center;
  }

  .columns-11 {
    display: flex;
  }

  .section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .heading-4 {
    text-align: center;
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 30px;
  }

  .paragraph {
    font-size: 16px;
  }

  .columns-13 {
    display: block;
  }

  .column-26 {
    text-align: center;
    margin-bottom: 20px;
  }

  .columns-15 {
    display: block;
  }

  .div-block-4 {
    flex-direction: column;
  }

  .link-block-4 {
    width: 500px;
    height: 200px;
  }

  .link-block-5, .link-block-6, .link-block-7 {
    height: 200px;
  }

  .section-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .heading-5 {
    font-size: 26px;
    line-height: 40px;
  }

  .column-34 {
    text-align: center;
    margin-bottom: 20px;
  }

  .image-70 {
    max-width: 60%;
  }

  .text-block-35 {
    line-height: 22px;
  }

  .text-block-36 {
    margin-bottom: 22px;
  }

  .div-block-7 {
    width: 100%;
  }

  .div-block-8 {
    height: 250px;
  }

  .heading-6 {
    font-size: 20px;
  }

  .text-block-38 {
    margin-bottom: 10px;
  }

  .banner-slider-2 {
    height: 1000px;
  }

  .form-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .text-block-41 {
    font-size: 16px;
  }

  .slider-2 {
    height: 300px;
  }

  .slide-19 {
    padding-top: 100px;
  }

  .slide-20 {
    height: 300px;
    padding-top: 81px;
  }

  .column-39 {
    padding-top: 96px;
  }

  .div-block-26._03 {
    padding-top: 80px;
  }

  .div-block-26._01 {
    padding-top: 81px;
  }

  .div-block-26._02 {
    padding-top: 80px;
  }

  .column-17 {
    margin-bottom: 0;
  }

  .text-block-42.destacado1 {
    padding-top: 181px;
    display: block;
  }

  .heading-28 {
    font-size: 20px;
  }

  .text-block-43.destacado1 {
    padding-top: 0;
  }

  .div-block-29 {
    width: 100%;
    margin-bottom: 20px;
  }

  .text-block-44.destacado1 {
    padding-top: 0;
  }

  .div-block-34 {
    height: 150px;
    padding-top: 56px;
  }

  .div-block-40 {
    height: 150px;
    padding-top: 55px;
  }

  .div-block-32, .div-block-33 {
    height: 150px;
    padding-top: 56px;
  }

  .div-block-37, .div-block-35 {
    height: 150px;
    padding-top: 54px;
  }

  .div-block-38 {
    height: 150px;
    padding-top: 53px;
  }

  .div-block-31 {
    height: 150px;
    padding-top: 55px;
  }

  .div-block-36 {
    height: 150px;
    padding-top: 57px;
  }

  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }
}

#w-node-_7b4ce8ee-535b-15c9-64f3-b60b31b72888-a9d630fa {
  align-self: auto;
  justify-self: auto;
}

.whatsapp {
  background-color: #25d366;
  width: 50%;
}
.telefono {
  background-color: blue;
  margin-top: 10px;
  width: 50%;
}
.texto-planes {
  margin-top: 10px;
  font-size: large;
  font-weight: 600;
}
.div-carousel {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.carousel {
  width: 100%;
  position: relative;
  margin: auto;
}
.carousel-inner {
  display: flex;
}
.carousel-inner2 {
  display: flex;
}
.carousel-item {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;

  height: 200px;
  width: 200px;
  flex-shrink: 0;
}
.carousel-item img {
  max-width: 100px;
  max-height: 100px;
  padding-bottom: 10px;
  margin: auto;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.carousel-button2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.785);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.carousel-button.prev {
  left: 10px;
}
.carousel-button2.prev {
  left: 10px;
}
.carousel-button.next {
  right: 10px;
}
.carousel-button2.next {
  right: 10px;
}
.texto-carousel {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
.div-block-32 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/03.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 350px;
  padding-top: 175px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.div-block-33 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/04.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 350px;
  padding-top: 175px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.div-block-34 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/01.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 350px;
  padding-top: 175px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.div-block-35 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/02.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 350px;
  padding-top: 175px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.div-block-36 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/jumbo-jet-volando-cielo.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 350px;
  padding-top: 175px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.div-block-37 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/salas-velatorias.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 350px;
  padding-top: 175px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.div-block-38 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Servicio-de-responso.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 350px;
  padding-top: 175px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

.div-block-40 {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Servicio-Anticipiado.--3.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 350px;
  padding-top: 175px;
  margin-left: 0.5px;
  margin-right: 0.5px;
}
.section-13 {
  background-image: none;
  background-color: #b29240;
  height: 2px;
}
.card-planes {
  border: 2px solid #b29240;
  border-radius: 10px;
}
.descripcion-planes {
  font-size: 20px!important;
  line-height: 1.5!important;
  text-align: justify!important;
  padding-top: 20px!important;
}
.google-maps {
  background-color: #b29240;
  border: 2px solid #b29240;
  border-radius: 5px;
}
.whatsapp-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.whatsapp-button img {
  width: 30px;
  height: 30px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}
.tel-button {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 1000;
  background-color: blue;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.tel-button img {
  width: 30px;
  height: 30px;
}

.tel-button:hover {
  transform: scale(1.1);
}
.mt-3 {
  margin-top: 40px;
}
.texto-blanco {
  color: white;
}