@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../css/fonts/montserrat-v26-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: url("../css/fonts/montserrat-v26-latin-italic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../css/fonts/montserrat-v26-latin-500.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    src: url("../css/fonts/montserrat-v26-latin-500italic.woff2")
      format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("../css/fonts/montserrat-v26-latin-600.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src: url("../css/fonts/montserrat-v26-latin-600italic.woff2")
      format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../css/fonts/montserrat-v26-latin-700.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 700;
    src: url("../css/fonts/montserrat-v26-latin-700italic.woff2")
      format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
    src: url("../css/fonts/montserrat-v26-latin-900italic.woff2")
      format("woff2");
  }

  .katy-body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
  }

  .katy-header {
    margin-bottom: 20px;
  }

  .katy-logo {
    width: 25px;
    padding-bottom: 5px;
  }

  .katy-main {
    display: flex;
    gap: 20px;
  }

  .katy-title {
    font-family: Montserrat, sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color: #628396;
    margin-left: 20px;
  }

  .katy-descripcion {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .katy-descripcion p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .katy-imagen-principal {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .katy-productos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .katy-producto {
    background-color: #2c2c2c;
    border-radius: 50px 0 0 50px;
    border-left: #b29240 solid 3px;
    border-top: #b29240 solid 3px;
    border-bottom: #b29240 solid 3px;
    padding: 50px;
    margin-right: -20px;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  .katy-producto-info {
    flex: 1;
  }

  .katy-h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }

  .katy-color {
    background-color: #628396;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
  }

  .katy-material {
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
  }

  .katy-precio {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    text-decoration: line-through;
    color: red;
  }

  .katy-precio-promocion {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    color: #628396;
  }

  .katy-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }

  .katy-th,
  .katy-td {
    text-align: left;
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid #4a4a4a;
  }

  .katy-th {
    background-color: #4a4a4a;
  }

  .katy-imagenes-producto {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }

  .katy-imagenes-producto img {
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
  }

  @media (max-width: 1000px) {
    .katy-main {
      flex-direction: column;
    }
    .katy-descripcion {
      flex-direction: column-reverse;
    }
    .katy-producto {
      flex-direction: column;
      height: auto;
    }
    .katy-imagenes-producto {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .katy-detalle-katy-plan-descripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    padding: 20px;
  }

  .katy-detalle-katy-columna {
    flex: 1 1 22%;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
  }

  .katy-detalle-katy-categoria h3 {
    color: black;
    border-bottom: 1px solid #b29240;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .katy-detalle-katy-categoria ul {
    list-style-type: none;
    padding: 0;
  }

  .katy-detalle-katy-categoria ul li {
    padding: 5px 0;
    border-bottom: 1px solid #b29240;
  }

  .katy-detalle-katy-categoria ul li:last-child {
    border-bottom: none;
  }

  @media (max-width: 1000px) {
    .katy-detalle-katy-columna {
      flex: 1 1 100%;
      margin: 5px 0;
    }
    .katy-detalle-katy-plan-descripcion {
      background-color: #628396;
      border-radius: 0 50px 50px 0;
      border-right: #b29240 solid 3px;
      border-top: #b29240 solid 3px;
      border-bottom: #b29240 solid 3px;
      padding: 50px;
      margin-left: -20px;
      margin-top: 50px;
      margin-bottom: 50px;
      color: #ffffff;
    }
    .katy-detalle-katy-categoria h3 {
        color: #ffffff;
    }
  }
  .katy-color-principal {
    color: #628396;
  }
  .katy-consultar {
    text-align: center;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: green;
    margin-top: 30px;
  }
  .katy-consultar a {
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
  .valor-promocional {
    font-size: 10px;
    font-weight: 100;
    vertical-align: top;
    white-space: nowrap;
  }