body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d7881;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.logo {
    width: 300px;
    height: auto;
    opacity: 0;
    filter: blur(10px);
}

.text-container {
    margin-top: -20px;
}

.construction-text {
    font-size: 24px;
    color: rgba(255, 254, 252, 0.79);
    opacity: 0;
    filter: blur(10px);
}
